<h1>Log in</h1>
<form action="/login" method="post">
  <label for="userbame">Username</label>
  <input type="text" name="username" />
  <label for="password">Password</label>
  <input type="password" name="password" />
  <button type="submit">Login</button>
</form>

{{#if errorMessage}}
  <p class="error">{{errorMessage}}</p>
{{/if}}