<h1>Sign up now!</h1>
<form action="/sign-up" method="post">
  <label for="">Username</label>
  <input
    type="text"
    name="username"
    placeholder="type your username"
    required
  />
  <label for="">Password</label>
  <input
    type="password"
    name="password"
    placeholder="type your password"
    required
  />
  <button type="submit">Sign up</button>
</form>